.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 34px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.switch-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

.switch-btn:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }


input:checked + .switch-btn:before {
    -webkit-transform: translateX(127.5px);
    -ms-transform: translateX(127.5px);
    transform: translateX(127.5px);
  }

input:disabled + .switch-btn{
    background-color: rgb(233, 236, 240);
}

input:disabled:checked + .switch-btn:before {
    background-color: white;
    -webkit-transform: translateX(17.5px);
    -ms-transform: translateX(17.5px);
    transform: translateX(17.5px);
}

.switches {
    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(82, 87, 92);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}